
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #fcfbff;
  color: #0e17be;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#team-stats {
  border: 1px solid #333;
  padding: 20px;
  background-color: green;
  color: rgb(76, 155, 74);
}


h1 {
  background-color: blue;
  color: white;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  
}